<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Adress1:</strong>
  <%= @user.adress1 %>
</p>

<p>
  <strong>Adress2:</strong>
  <%= @user.adress2 %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Isactive:</strong>
  <%= @user.isActive %>
</p>

<p>
  <strong>Isadmin:</strong>
  <%= @user.isAdmin %>
</p>


<table class="table table-inverse">
 <thead class="thead-inverse">
  <tr>
  
   <th>Rent books</th>
  
   <th colspan="3"></th>
  </tr>
 </thead>

 <tr>
 <% @loans.each do |loan| %>
       <% if @user.id == loan.user.id %>
            <td><%= loan.book.title %></td>
             <% @books.each do |book| %>
               <% if book.id == loan.book.id %>
                  <td><%= link_to 'Return', edit_book_path(book) %></td>
                  <td><%= link_to 'Show', book %></td>
                <%end%>
             <%end %>
       <%end%>
<%end%>
        </tr>
        </table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
