<p id="notice"><%= notice %></p>

<div class="row">
    <ul>
      <li>
        <p>
          <img src="<%= @book.image_url %>", height="500", width="300"> </img>
        </p>
      </li>
      <li>
        <p>
          <strong>Title:</strong>
          <%= @book.title %>
        </p>
      </li>
      <li>
        <p>
          <strong>Author:</strong>
          <%= @book.author %>
        </p>
      </li>
      <li>
        <p>
          <strong>Description:</strong>
          <%= @book.description %>
        </p>
      </li>
      <li>
        <p>
          <strong>Isbn:</strong>
          <%= @book.ISBN %>
        </p>
      </li>
      <li>
        <p>
          <strong>Status:</strong>
          <%= @book.status %>
        </p>
        </li>
    </ul>
  </div>

  <div class="links_to">
    <ul>
      <% if current_user.isAdmin %>
        <%= link_to 'Edit', edit_book_path(@book) %> |
      <% end %>
      <%= link_to 'Back', books_path %>
    </ul>
  </div>
</div>