<p id="notice"><%= notice %></p>

<div class="view_title"><h1>List of Rentings</h1></div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-bordered">
      <thead class="thead-inverse">
        <tr>
          <th>User</th>
          <th>Book</th>
          <th>Start</th>
          <th>End</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @loans.each do |loan| %>
          <tr>
            <%if loan.book.status != "Loan"%>
            <% loan.delete %>
            <%end%>
            <td><%= loan.user.firstname %></td>
            <td><%= loan.book.title %></td>
            <td><%= loan.start %></td>
            <td><%= loan.end %></td>
            <td><%= link_to 'Show', loan %></td>
            <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
<% if current_user.isAdmin == true %>
  <%= button_to 'New Loan', new_loan_path, :method => "get" %>
<% end %>
</div>

