<h1>New Loan</h1>

<%= form_for(@loan) do |f| %>
 <% if @loan.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

     <ul>
     <% @loan.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

 <div class="field">
   <%= f.label :user_id %><br>
    <% user_array = User.all.where(isActive: true).map { |user| [user.firstname, user.id] } %>
   <%= f.select :user_id, options_for_select(user_array) %>
   
 </div>
 <div class="field">
   <%= f.label :book_id %><br>
   <% book_array = Book.all.where(status: "available").map { |book| [book.title, book.id] } %>
   <%= f.select :book_id, options_for_select(book_array) %>
 </div>


<div class="field">
   <%= f.label :start %><br>
   <%= f.time_select :start %>
 </div>
 <div class="field">
   <%= f.label :end %><br>
   <%= f.time_select :end %>
 </div>
 <div class="actions">
   <%= f.submit %>

 </div>
<% end %>

<div class="links_to">
 <%= link_to 'Back', loans_path %>
</div>