<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @loan.user.firstname %>
</p>

<p>
  <strong>Book:</strong>
  <%= @loan.book.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @loan.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @loan.end %>
</p>

 <% b = Book.find_by(@loan.book.id)%>
    <% b.update(status: "Loan")%>
<p>
  
<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
